
body {
    font-family: Roboto, Helvetica;
}

@page {
    size: A4;
    margin: 10mm 10mm 10mm 10mm; /* change the margins as you want them to be. */
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.header > img {
    width: 100%;
    text-align: center;
}

@media print { 

    #print-button {
        visibility: hidden;
    }

    .grid-container {
        max-height: 85vh;
        display: grid;
        grid-template-columns: 50mm auto 50mm;
    }

    .grid-container-footer {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        color: #bbbbbb;
    }

    .grid-container-footer > div {
        align-content: center;
        font-family: Open Sans;
        font-size: 7pt;
        padding: 0px 5px 0px 5px;
    }

    .page-layout {
        position: relative;
        height: 100vh;
    }
    

    footer {
        visibility: visible;
        page-break-after: always;
        margin-bottom: 0px;
    }

    .customer {
        text-align: left;
        padding: 20px 20px 20px 0px ;
        font-size: 9pt;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .project-manager {
        border:0px solid #aaaaaa;
        padding: 20px 0px 20px 0px;
        text-align: left;
        font-size: 9pt;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .doctype {
        font-size: 14pt;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .date {
        font-size: 10pt;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .small-spacer {
        height: 10px;
    }

    .common-quote-information {
        font-size: 10pt;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .project-section {
        padding-left: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .info-title {
        font-weight: bold;
    }

    #project-title {
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .project-content-topic {
        font-size: 10pt;
        font-weight: bold;
    }

    .project-description {
        font-size: 10pt;
        margin-bottom: 10px;
    }

    .cost-summary {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2vw;
    }

    .items-overview {
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 10pt;
        margin: 0 auto auto auto;
        width: 90%;
    }

    #items-table {
        width: 100%;
        font-size: 10pt;
    }

    #items-table th {
        text-align: left;
        white-space: nowrap;
    }
    
    #items-table td {
        text-align: left;
        vertical-align: top;
        padding: 10px 2px 0px 2px;
    }

    #items-table th {
        padding: 10px 2px 10px 2px;
        border-bottom: 1px solid #bbbbbb;
        border-top: 1px solid #bbbbbb;
    }

    .price-value {
        text-align: right !important;
    }

    #total-costs {
        text-align: left;
    }
    .cost-summary-field {
        text-align: right !important;
        font-weight: bold;
    }

    .total-costs > td {
        border-top: 1px solid #bbbbbb;
    }

    .agreement-section {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .items-introduction-text {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .items-introduction-text p {
        font-size: 10pt;
    }

    .item-description {
            font-style: italic;
            font-size: 9pt;
     }

    .items-outroduction-text {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .signature {
        padding-top: 50px;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 10pt;
    }

    .agreement-section {
        page-break-before: always;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 10pt;
    }
}

@media screen { 
    .grid-container {
        display: grid;
        grid-template-columns: 30% auto 30%;
    }

    .item-description {
        font-style: italic;
        font-size: 1.2vw;
    }

    .grid-container-footer {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        color: #bbbbbb;
    }

    .grid-container-footer > div {
        align-content: center;
        font-family: Open Sans;
        font-size: 1vw;
        padding: 0px 10px 0px 10px;
    }
    
    .customer {
        text-align: left;
        padding: 20px 20px 20px 0px ;
        font-size: 1.5vw;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .project-manager {
        border:0px solid #aaaaaa;
        padding: 20px 0px 20px 0px;
        text-align: left;
        font-size: 1.5vw;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .small-spacer {
        height: 10px;
    }

    .doctype {
        font-size: 2vw;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .date {
        font-size: 2vw;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .common-quote-information {
        font-size: 1.5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .project-section {
        padding-left: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .info-title {
        font-weight: bold;
    }

    #project-title {
        font-size: 2vw;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .project-content-topic {
        font-size: 1.5vw;
        font-weight: bold;
    }

    .project-description {
        font-size: 1.5vw;
        margin-bottom: 10px;
    }

    .cost-summary {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2vw;
    }

    #total-costs {
        text-align: left;
    }

    .items-overview {
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2vw;
        margin: 0 auto auto auto;
        width: 90%;
    }

    #items-table {
        width: 90%;
        font-size: 1.5vw;
    }

    #items-table th {
        text-align: left;
        white-space: nowrap;
    }

    #items-table td {
        text-align: left;
        vertical-align: top;
        padding: 10px 4px 10px 4px;
    }

    footer {
        visibility: hidden;
        page-break-after: always;
    
    }

    #items-table th {
        padding: 10px 2px 10px 2px;
        border-bottom: 1px solid #bbbbbb;
        border-top: 1px solid #bbbbbb;
    }

    .price-value {
        text-align: right !important;
    }

    .cost-summary-field {
        text-align: right !important;
        font-weight: bold;
    }

    .total-costs > td {
        border-top: 1px solid #bbbbbb;
    }

    .agreement-section {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .items-introduction-text {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .items-introduction-text p {
        font-size: 1.5vw;
    }

    .signature {
        font-size: 1.5vw;
        padding-top: 50px;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .items-outroduction-text {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .agreement-section {
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 1.5vw;
    }
}