

@media print {
    @page {
        size: 5.5in 8.5in;  
        margin: 70pt 60pt 70pt;
      }
    
    
    @page :left {
        @top-left {
          content: "Cascading Style Sheets";
        }
      }
}
